.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.login-container {
    width: 400px;
    height: 430px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    padding: 40px;
    border-radius: 20px;
}

.custom-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    margin-bottom: 30px;
}

.custom-href {
    text-decoration-line: underline;
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

.login-error {
    display: flex;
    align-items: center;
    overflow: hidden;
}